{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div id="tableDiv" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Workout Type
            </button>
            <ul class="dropdown-menu" id="workoutDropdown" aria-labelledby="dropdownMenuButton">
              <li class="dropdown-item" >Cardio</li>
              <li class="dropdown-item" >Weightlifting</li>
              <li class="dropdown-item" >Stretching</li>
            </ul>
          </div>
          <div class="form-group">
            <label for="example-description">Workout Description. <em>(What did you do?)</em></label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Workout Description Here!"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h4>Workouts belonging to this user:</h4>
        <ul id="example-list" class="list-group">
          {{#each workouts}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{ userInfo.id }};
</script>